<div class="container" align="center">
	<h2 class="text-center">Selecciona tipo subscripción</h2>
	<br>

	<div class="containerpms">
		<div class="col-xs-4">
			<div class="box1pms">
				<div class="headpms">					
					<h1>9,99 €/mes</h1>
					<h2 style="color: #CD7F32;">Bronze</h2>
				</div>
				<div class="containpms">
					<p><b>Peliculas:</b> 5 al mes</p>
					<div class="footerpms">
						<button class="btn btn-info" type="button">Suscribete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box2pms">
				<div class="headpms">					
					<h1>12,99 €/mes</h1>
					<h2 style="color: silver;">Silver</h2>
				</div>
				<div class="containpms">
					<p><b>Peliculas:</b> 10 al mes</p>
					<div class="footerpms">
						<button class="btn btn-info" type="button">Suscribete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box3pms">
				<div class="headpms">					
					<h1>19,99 €/mes</h1>
					<h2 style="color: gold;">Gold</h2>
				</div>
				<div class="containpms">
					<p><b>Peliculas:</b> 25 al mes</p>
					<div class="footerpms">
						<button class="btn btn-success" type="button">Suscribete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>