<head>
<!-- Loading main css file -->
		<link rel="stylesheet" href="statics.scss">
</head>
<div class="container">
<div class="col-md-12">
<div id="headerwrap">
    <div id="header">
    	<a href="/" id="logostyle">
			<img src="images/logo.png" alt="" class="logo">
			<div class="logo-copy">
				<h1 class="site-title">Rotten Tomatoes Impostor</h1>
			</div>
		</a> <!-- #logostyle -->

        <div id="navigationwrap">
            <div id="navigation">
                <div class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
						<li class="menu-item"><a href="about.html">About</a></li>
						<li class="menu-item"><a href="review.html">Peliculas</a></li>
						<li class="menu-item"><a href="joinus.html">Join us</a></li>
						<li class="menu-item"><a href="contact.html">Contact</a></li>
					</ul> <!-- .menu -->

					<form action="#" class="search-form">
						<input type="text" placeholder="Search...">
						<button><i class="fa fa-search"></i></button>
					</form>
				</div> <!-- .main-navigation -->

				<div class="mobile-navigation"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>