<body>
	<div class="container">
		<div id="contentwrap">
			<div id="content">
				<div class="page">
					<div class="row">	
						<div class="col-md-9">
							<h2>ABOUT ROTTEN TOMATOES IMPOSTOR®</h2>
							<p>Rotten Tomatoes Impostor® and the Tomatometer Impostor® rating is the most trusted measurement of quality entertainment. As the leading online aggregator of movie and TV show reviews from professional critics, Rotten Tomatoes Impostor offers the most comprehensive guide to what's fresh. The world famous Tomatometer rating represents the percentage of positive professional reviews for films and TV shows and is used by millions every day, to help with their entertainment viewing decisions. Rotten Tomatoes designates the best reviewed movies and TV shows as Certified Fresh™. That accolade is awarded with Tomatometer ratings of 75% and higher, and a required minimum number of reviews. Weekly Rotten Tomatoes Impostor podcasts can be found on RottenTomatoes.com, iTunes, Soundcloud and Stitcher, and Rotten Tomatoes' entertainment experts make regular TV and radio appearances across the US.

							In 2016, Flixster and Rotten Tomatoes Impostor became part of Fandango's portfolio of digital properties, serving moviegoers and entertainment fans.</p><br/><br/>

							<h2>WHAT IS THE TOMATOMETER IMPOSTOR®?</h2>
							<p>The Tomatometer rating - based on the published opinions of hundreds of film and television critics - is a trusted measurement of movie and TV programming quality for millions of moviegoers.

							The Tomatometer rating represents the percentage of professional critic reviews that are positive for a given film or television show.

							Back in the days of the open theaters, when a play was particularly atrocious, the audience expressed their dissatisfaction by not only booing and hissing at the stage, but throwing whatever was at hand -- vegetables and fruits included.</p></br>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-sm-6 col-md-12">
									<div class="latest-movie">
										<a href="#"><img src="/pelis/theboss.jpg" alt="Movie 1"></a>
										<h2>Timothy Ryan, Senior Editor</h2>
										<p>Growing up in Rhode Island, Tim Ryan spent many an afternoon pouring over the reviews in Roger Ebert's Home Movie Companion and Leonard Maltin's Movie Guide. After graduating from the University of Rhode Island with a degree in journalism, Tim worked as a beat reporter for several New England newspapers throughout New England and obsessively watched movies in his downtime. He joined the staff of Rotten Tomatoes Impostor in September of 2004, where he has overseen the aggregation of reviews, written features, compiled movie lists, interviewed celebrities, and contributed to RT's radio show and podcast.</p>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- .row -->
				</div>
			</div>
		</div>
	</body>
	</html>