	<html>
		<head>
			<title>Movie Review</title>

			<!-- Loading third party fonts -->
			<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
			<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

			<!-- Loading main css file -->
			<link rel="stylesheet" href="statics.scss">
		</head>


		<body>
			<div class="container">
					<div id="contentwrap">
			        	<div id="content">
							<div class="page">
							<div class="row">	
								<div class="col-md-9">
								    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								      <!-- Indicators -->
								      <ol class="carousel-indicators">
								        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
								        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
								      </ol>
								      <!-- Wrapper for slides -->
								      <div class="carousel-inner">
								        <div class="item active">
								          <img src="/pelis/spidy1.jpg" alt="...">
								          <div class="carousel-caption">
								            <h2>Spiderman Homecoming</h2>
								          </div>
								        </div>
								        <div class="item">
								          <img src="/pelis/momia1.jpg" alt="...">
								          <div class="carousel-caption">
								            <h2>La momia</h2>
								          </div>
								        </div>
								        <div class="item">
								          <img src="/pelis/pirates1.jpg" alt="...">
								          <div class="carousel-caption">
								            <h2>Piratas del Caribe: la venganza de Salazar</h2>
								          </div>
								        </div>
								      </div>
								      <!-- Controls -->
								      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
								        <span class="glyphicon glyphicon-chevron-left"></span>
								      </a>
								      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
								        <span class="glyphicon glyphicon-chevron-right"></span>
								      </a>
								    </div>
								</div>
								<div class="col-md-3">
									<div class="row">
										<div class="col-sm-6 col-md-12">
											<div class="latest-movie">
												<a href="#"><img src="/pelis/serialkiller1.jpg" alt="Movie 1"></a>
												<p>Serial Killer</p>
											</div>
										</div>
										<div class="col-sm-6 col-md-12">
											<div class="latest-movie">
												<a href="#"><img src="/pelis/wonder1.jpg" alt="Movie 2"></a>
												<p>Wonder Woman</p>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- .row -->
							<div class="row">
								<div class="col-sm-6 col-md-3">
									<div class="latest-movie">
										<a href="#"><img src="/pelis/wall1.jpg" alt="Movie 3"></a>
										<p>The Wall</p>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="latest-movie">
										<a href="#"><img src="/pelis/konosekai1.jpg" alt="Movie 4"></a>
										<p>Kono Sekai</p>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="latest-movie">
										<a href="#"><img src="/pelis/apes1.jpg" alt="Movie 5"></a>
										<p>Guerra planeta de los simios</p>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="latest-movie">
										<a href="#"><img src="/pelis/cars1.jpg" alt="Movie 6"></a>
										<p> Cars 3 </p>
									</div>
								</div>
							</div> <!-- .row -->
							
							<div class="row">
								<div class="col-md-4">
									<h2 class="section-title">December premiere</h2>
									<p>Pelis diciembre</p>
									<ul class="movie-schedule">
										<li>
											<div class="date">9/12</div>
											<h2 class="entry-title"><a href="#">Spirit</a></h2>
										</li>
										<li>
											<div class="date">16/12</div>
											<h2 class="entry-title"><a href="#">Pocahontas</a></h2>
										</li>
										<li>
											<div class="date">23/12</div>
											<h2 class="entry-title"><a href="#">Sirenita</a></h2>
										</li>
										<li>
											<div class="date">30/12</div>
											<h2 class="entry-title"><a href="#">Buscando a Nemo</a></h2>
										</li>
									</ul> <!-- .movie-schedule -->
								</div>
								<div class="col-md-4">
									<h2 class="section-title">November premiere</h2>
									<p>Peliculas noviembre</p>
									<ul class="movie-schedule">
										<li>
											<div class="date">9/11</div>
											<h2 class="entry-title"><a href="#">Cars</a></h2>
										</li>
										<li>
											<div class="date">16/11</div>
											<h2 class="entry-title"><a href="#">Toy Story</a></h2>
										</li>
										<li>
											<div class="date">23/11</div>
											<h2 class="entry-title"><a href="#">Venganza</a></h2>
										</li>
										<li>
											<div class="date">130/11</div>
											<h2 class="entry-title"><a href="#">Resident Evil</a></h2>
										</li>
									</ul> <!-- .movie-schedule -->
								</div>
								<div class="col-md-4">
									<h2 class="section-title">October premiere</h2>
									<p>Peliculas Octubre.</p>
									<ul class="movie-schedule">
										<li>
											<div class="date">9/10</div>
											<h2 class="entry-title"><a href="#">El Rey Leon</a></h2>
										</li>
										<li>
											<div class="date">16/10</div>
											<h2 class="entry-title"><a href="#">Your Name</a></h2>
										</li>
										<li>
											<div class="date">23/10</div>
											<h2 class="entry-title"><a href="#">Cars 2</a></h2>
										</li>
										<li>
											<div class="date">30/10</div>
											<h2 class="entry-title"><a href="#">Avatar</a></h2>
										</li>
									</ul> <!-- .movie-schedule -->
								</div>
							</div>
						</div>
				</div>
	        </div>
		</body>
	</html>