.alert-success {
	background-color: #fff;
	border-color: #b6b6b6;
	color: #222;
	text-align: left;
}

.alert-danger {
	background-color: #fff;
	border-color: #b6b6b6;
	color: red;
	text-align: left;
}

.alert-info {
	background-color: #fff;
	border-color: #b6b6b6;
	color: blue;
	text-align: left;
}

.alert-warning {
	background-color: #fff;
	border-color: #b6b6b6;
	color: yellow;
	text-align: left;
}